/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
light blue: #ADD8E6

*/


/* reset default values*/
/*  all of the elements and pseudo elements with after and before will be reset */
*,
*::after,
*::before {
    /* because different broswers have different default values*/
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 10/16 = 0.625 */
    font-size: .625;
}

/* Use CSS inheritance for child elements*/
body {
    font-family:"Lato",sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    /* padding will not be inheritance */
    padding: 3rem;
     /* border and padding no longer added to the total width and total height*/
     box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right,rgba(126, 213, 111, 0.126),rgba(96, 195, 228, 0.805)), url("../img/bg.jpg");
    /* cover image*/
    background-size: cover;
    /* always stay at the top of the container*/
    background-position: top;
    position: relative;
    border: #ADD8E6 solid 5px;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    /* box-shadow: 5px 10px; */
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 3.5rem;
    /* we just need to set the height, the width will automatically  */
    /* width: ; */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /* display: flex; */

    /* no shaking animation */
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    /* animation-delay: 3s; */

}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight:400;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 3s;
}

.text-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.btn:link,
.btn:visited {
    margin-top: 5rem;
    display: block;
    color: #777;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    /* transform: scale(1.3); */
    box-shadow: 0 1rem 2rem rgba(0, 0,0 , 0.2);
}

/* when we click the element this effect will work */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0,0 , 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* combine transition with scale will ease scale */
    transition: all 0.5s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scale(1.5);
    /* flash background color effect */
    opacity: 0;
}

.btn-white {
    background-color:#fff;
    border-radius: 100px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform:translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform:translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}