$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-light-blue: #ADD8E6;
$color-white: #fff;
$color-dark: #000;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-primary-dark-blue-1: #6497b1;
$color-primary-dark-blue-2: #005b96;
$color-primary-light-green-1: #40E0D0;
$color-primary-pink-1: #F6C6EA;
$color-primary-pink-2: #FF7396;


$color-primary-option-1: #93B5C6;
$color-primary-option-2: #C9CCD5;
$color-primary-option-3: #E4D8DC;
$color-primary-option-3: #FFE3E3;




$grid-width: 65rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3rem;
